@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #272727;
  --text: white;
  --white: #ffffff;
  --sidebar-primary: #605dff;
  --sidebar-primary-light: #5da8ff;
  --sidebar-primary-hover: #605dff10;
  --sidebar-background: #fcfcfd;
  --background: #f1f3ff;
  --text-link: #424662;
  --headline: #7686bc;
  --cta-background: #ebf3ff;
  --cta-background-darker: #cfd5ff;
  --cta-background-border: #cdd2f3;
  --cta-text: #1c2035;
  --neutral: #e6e8f0;
  --expand-button: #4a516d;
  --logout: #fa7575;
  --text: #303651;
  --text-lighter: #697089;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Slab:wght@900&family=Work+Sans:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200&display=swap");

body {
  font-family: "Work Sans", sans-serif !important;
  background-color: #d3dae0;
  padding: 16px;
  font-size: 16px;
  height: fit-content;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.hero-bg {
  background-image: url(/public/hero.png);
}

html {
  height: 100%;
}
.recipe-image {
  background-image: url(/public/placeholder.svg);
  font-style: italic;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}
.recipecard-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  gap: 20px !important;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .recipecard-grid-container {
    display: block;
    width: 100%;
    margin: 0;
  }
}
.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #928b8b;
  }
  to {
    text-shadow: 0 0 10px #0b07e7, 0 0 15px #0b07e7, 0 0 20px #fefefe;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    hsl(200, 20%, 80%),
    hsl(200, 20%, 95%),
    hsl(200, 20%, 80%)
  );
  background-size: 200% 100%;
  animation: skeleton-loading 3s linear infinite alternate;
}

/* keyframes for the animation */
@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
